* {

    padding: 0;
    margin: 0;

}
.task-body{
    font-size: 20px;
}

.taskInput {
    border-radius: 15px;
    height: 40px;
    width: 400px;
    border: 1px;
}
.taskInput:focus{
    border-color: #FF385C;
}

main.parent {
    width: 100vw;
    height: 100vh;
    background-color: #B0C4DE;
    overflow-y: hidden;
}

.list {
    justify-self: auto;
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.main>div {
    padding: 1rem;
    display: flex;
    width: 240px;
    background-color: white;
    border-radius: 8px;
    justify-content: start;
    flex-flow: column;
    height: 300px;

    overflow: auto;
}

form.task-field {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}

.open ul.list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}

.open ul.list>li {
    margin: 0.4rem;
}

.remove {
    width: 44px;
    height: 37px;
    justify-content: center;

}

#card-contents {
    width: auto;
    height: auto;
    padding: 12px;
    padding-bottom: 150px;

}

.submit {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #FF385C;
    /* height: 44px; */
    color: #fff;
    text-transform: uppercase;
    padding: 14px 28px;
}
input:focus{
    border-color: #FF385C;
}

.size {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.task {
    font-size: 25px;
    border: 5px;
}

.textfield {
    border-radius: 10px;
    margin-top: 10px;
    border: 0;
    
}

.deletebutton {
    background-color: rgb(218, 89, 89);
    border: none;
    border-radius: 10px;
    color: azure;
    padding: 5px;
    width: 80px;
    margin-left: 40px
}


.task-body {
    padding-bottom: 10px;
    border: 2px;


}

.task-heading {
    padding-bottom: 10px;
    border: 2px;
    font-size: 25px;
    


}

.task {
    background-color: lightblue;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;

}

.manager {
    margin-bottom: 20PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}